<h1>Privacy Policy of expensita.herokuapp.com</h1>
<hr>
<p>This website takes information from user and make statistics on their expenses.</p>
This website is open sourced and can pe found on https://github.com/visage98/Expense-Manager
<br>
<hr>
<br>
<h3>For more details, contact :</h3>
<h4>Deepanshu Bagri</h4>
deepanshu.bagri@gmail.com