<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Privacy Policy</title>
</head>

<body>
<h1>Privacy Policy of testitonline.herokuapp.com</h1>
<hr>
<p>This website takes information from user for signup using their facebook accounts.</p>
This website is open sourced and can pe found on https://github.com/visage98/testIt
<br>
<hr>
<br>
<h3>For more details, contact :</h3>
<h4>Deepanshu Bagri</h4>
deepanshu.bagri@gmail.com
</body>
</html>