<% layout('layout')%>
<div class="container">
    <div class="col-md-12">
        <h1 style="text-align: center;">Congratulations!!!</h1>
        <h2 style="text-align: center;">Test Code : <span style="color: brown"><%= code%></span></h2>
        <h3 style="text-align: center;">You can use this link for giving test :</h3>
        <h4 style="text-align: center;"><a href="http://localhost:4000/test?code=<%= code%>">http://localhost:4000/test?code=<%= code%></a></h4>
    </div>
</div>