<% layout('layout')%>
<style>
    body{
        background-color: #5f7ec1;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook"  style="top: 45vh;position: absolute;border: solid #2d4373 2px">
                <span class="fa fa-facebook"></span> Login with Facebook
            </a>
        </div>
    </div>
</div>