<% layout('layout')%>
<div class="container">
    <div class="col-md-12">
        <h1 style="text-align: center;"><%= message%></h1>
        <h2 style="text-align: center;">Your Marks : <span style="color: brown"><%= total%> / <%= maxMarks%></span></h2>
        <h3 style="text-align: center;"><a href="/leaderboard?code=<%= code%>&page=1">Leaderboard</a></h3>
    </div>
</div>